<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SIngleObjectPrelink Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB65B93A18FE91EE00115323</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB65B95B18FE91EE00115323</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB65B97C18FE925600115323</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB65B98C18FE925700115323</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB65B9A418FE926800115323</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB65B9B018FE926800115323</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
